# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
.venv/
env/
.env/

# Data files (Force exclusion of heavy CSV files from Git)
data/*.csv
data/*.xlsx
data/*.parquet
data/*.json
